<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Your Order</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container { max-width: 900px; margin: auto; padding: 20px; }
        .card { margin-bottom: 20px; }
        .card-header { background-color: #007bff; color: white; cursor: pointer; }
        .card-body { background-color: #f8f9fa; }
        .btn-primary { background-color: #007bff; border: none; }
        .collapsed-card-header { color: white; text-decoration: none; }
    </style>
</head>
<body>

{% include 'navbar.html' %}

<div class="container mt-3">
    <h1 class="mb-4">Place Your Order</h1>

    {% if user_route_number %}
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="mb-0 text-primary">Information</h3>
        </div>
        <div class="card-body">
            <p><strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            <p><strong>Title:</strong> {{ request.user.title }}</p>
            <p><strong>Route Number:</strong> {{ user_route_number }}</p>
        </div>
    </div>
    {% endif %}

    <form method="post" class="mb-3">
      {% csrf_token %}
      {% if user_route_number %}
        <input type="hidden" name="routeNumber" value="{{ user_route_number }}">
      {% else %}
      <div class="form-group">
        <label for="routeSelect">Select Route Number:</label>
        <select class="form-control" id="routeSelect" name="routeNumber">
          {% for route in routes %}
            <option value="{{ route }}">{{ route }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      <div id="accordion">
        {% for type, items in items_by_type.items %}
          <div class="card">
            <div class="card-header">
              <a class="collapsed-card-header" data-toggle="collapse" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                <h2 class="mb-0 text-primary">{{ type }}</h2>
              </a>
            </div>

            <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
              <div class="card-body">
                <ul class="list-unstyled">
                  {% for item in items %}
                    <li class="mb-2">
                      <div class="row">
                        <div class="col-md-6">
                          <strong>{{ item.ItemDescription }}</strong> <br>
                          <small>Item Number: {{ item.ItemNumber }}</small>
                        </div>
                        <div class="col-md-2">
                          {% if suggested_order %}
                            {% for suggested_item in suggested_order.items %}
                              {% if suggested_item.ItemNumber == item.ItemNumber %}
                                <span>Weekly AVG: <strong>{{ suggested_item.SuggestedQuantity }}</strong></span>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                        <div class="col-md-4">
                          <label for="quantity_{{ item.ItemNumber }}">Quantity:</label>
                          <input type="number" id="quantity_{{ item.ItemNumber }}" name="quantity_{{ item.ItemNumber }}" min="0" class="form-control" value="0">
                          <input type="hidden" name="description_{{ item.ItemNumber }}" value="{{ item.ItemDescription }}">
                        </div>
                      </div>
                    </li>
                    {% if not loop.last %}
                      <hr>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-primary mt-3">Submit Order</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

</body>
</html>