{% extends 'navbar.html' %}
{% load static %}

{% block content %}

<style>
    .card {
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .field-heading {
        font-weight: bold;
        color: #555;
    }
    .container-fluid {
        padding-top: 20px;
    }
</style>

<div class="container-fluid">
    <div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
        <div class="card profile-card m-2 p-4">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="mt-4 mb-1 field-heading">Email</p>
                {% if is_self %}
                    <h5>{{ email }}</h5>
                {% else %}
                    {% if hide_email %}
                        <h5>**********</h5>
                    {% else %}
                        <h5>{{ email }}</h5>
                    {% endif %}
                {% endif %}
                <p class="mt-4 mb-1 field-heading">Username</p>
                <h5>{{ username }}</h5>

                <!-- If Auth user is viewing their own profile -->
                {% if is_self %}
                    <a class="mt-4 btn btn-primary" href="{% url 'account:edit' user_id=id %}">Update</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
